body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    width: 100%;
}

header h1 {
    background-color: #add8e6;
    text-align: center;
    padding: 1.2rem;
    margin: 0;
}

nav ul {
    padding: 0px;
    background-color: #2F4F4F;
    color: #FFF;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
    border-right: 1px solid #000;
}

main {
    display: block;
    width: 100vw;
}

main section {
    height: 30rem;
    font-size: 1.5rem;
}

.column1 {
    background-color: #aaaaaa;
    display: inline-block;
    width: 30vw;
    float: left;
}

.column2 {
    background-color: #bbbbbb;
    display: inline-block;
    width: 40vw;
    float: left;
}

.column3 {
    background-color: #cccccc;
    display: inline-block;
    width: 30vw;
}

@media screen and (max-width: 600px) {

    .column1 {
        display: inline-block;
        width: 50%;
    }

    .column3 {
        display: inline-block;
        float: none;
        width: 50%;
    }

    .column2 {
        display: inline-block;
        width: 100%;
    }
}

footer {
    display: block;
    font-size: 1.3rem;
    color: #FFF;
    background-color: #2F4F4F;
    text-align: center;
    padding: 1.2rem;
    margin: 0;
}